<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/admin/signup" method="post">

    Name: <input type="text" name="name">
    Email: <input type="email" name="email">
    Mobile: <input type="tel" name="mobile">
    Password: <input type="password" name="pass">

    <button>Submit</button>

    </form>

</body>
</html>